@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.mt-10 {
  margin-top: 10rem;
}

.about {
  background-image: url("../img/about-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 10rem;
}

.about .tagline {
  font-size: 2rem;
  font-weight: lighter;
}
.about h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 5rem;
  display: block;
}
.about h3 {
  font-size: 4.5rem;
  font-weight: normal;
}

.about button {
  width: 30%;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  border-radius: 2rem;
}

.about button:hover {
  background-color: #d6d6d6;
}

.box-img {
  width: 50%;
  height: 70vh;
  background-image: url("../img/about-img.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30% 30% 0 0;
}

.about .object1 {
  position: relative;
  inset: 0 20rem 0 0;
}

.about .row-custom {
  width: 90%;
  margin: auto;
  margin-top: 15vh;
}
